<p>
    <button @onclick="OnClickCallback">
        Trigger a Parent component method
        <span>🔥🔥🔥🔥</span>
    </button>
</p>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
